.App {
  text-align: center;
}
body{
  background-color: rgba(168, 224, 133, 0.413);
}
.App-logo {
  height: 45vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
nav ul{
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 65px;
  background-color: black;
  color: white;
}

nav ul li{
  padding: 0 12px;
}
/* customStyles.css */
.navbar { 
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 65px;
  background-color: black;
  color: white;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.nav-link {
  font: bold;
  font-size: xx-large;
  margin: 0 100px; /* Adjust margin to increase or decrease spacing */
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.nav-link:hover {
  text-decoration:solid;
}
.brand{
  display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
img {
  padding-top : 20px;
  width: 250px; /* Adjust the width as needed */
  height: 50px; /* Maintain aspect ratio */
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:#61dafb;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.link {
  padding: 10px;
}
.Router{
  padding: 10px;
  word-spacing: 10px;
}
